/* main */
.main {
    width: 100%;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 2rem;
    font-size: 15px;
}

/* section */
.section {
    width: 55%;
    margin: 1rem;
    padding: 1rem;
    flex-grow: 1;
    border: 1px solid #d9d9d9;
    box-shadow: 1px 1px 1px 0px rgba(0, 0, 0, 0.75);
}

.section-table {
    width: 100%;
    text-align: left;
    padding: 1rem;
    border-bottom: 1px solid #d9d9d9;
    border-collapse: collapse;
}

.section-table__thead {
    border-bottom: 1px solid #d9d9d9;
}


.section-table__thead th {
    padding: 1rem;
}

.section-table td {
    padding: 2rem 1rem;
}

.section-table__counter {
    display: flex;
}

.square {
    position: relative;
    margin: 0;
    width: 2rem;
    height: 2rem;
    text-align: center;
    justify-content: center;
    border: 1px solid #d9d9d9;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 15px;
}

.img {
    background-repeat: no-repeat;
    background-size: contain;
}

.section-footer {
    padding: 1rem;
    display: flex;
    justify-content: flex-end;
}

/* aside */
.aside {
    width: 25%;
    display: flex;
    flex-wrap: wrap;
    margin: 1rem;
    padding: 0rem;
    align-items: stretch;
}


.aside-table {
    width: 100%;
    text-align: left;
    padding: 1rem;
    margin: 0rem;
    border-bottom: 1px solid #d9d9d9;
    border-collapse: collapse;
    border: 1px solid #d9d9d9;
    box-shadow: 1px 1px 1px 0px rgba(41, 2, 194, 0.75);
}

.aside-table__thead {
    border: 1px solid #d9d9d9;
    background-color: #d9d9d9;
}

.aside-table th,
td {
    padding: 1rem;
}

.aside-table__tbody td {
    padding: 1rem 1.5rem;
    background-color: #ededed;
}

.aside-table__tbody tr td:nth-child(2) {
font-weight: 700;
}

.aside-table__tbody tr:nth-child(2){
    font-size: larger;
}

.aside-table tr:first-child {
    border-bottom: 1px solid #d9d9d9;
}

.aside-table__tbody .button {
    margin: 0;
}
/* button */
.button {
    font: inherit;
    padding: 0.5rem 1.5rem;
    border: 1px rgb(30, 40, 176);
    background: #2c58a6;
    color: white;
    box-shadow: 1px 1px 1px 0px rgba(19, 65, 163, 0.75);
    cursor: pointer;
    margin-right: 1rem;
    text-decoration: none;
    display: inline-block;
}

.button:hover {
    background: rgb(89, 97, 244);
    color: white;
}
