/* modal*/
.modal{
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    display: none;
    z-index: 100;
}
    
.modal__overplay{
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4);  
}
    
.modal__body{
    --growth-from: 0.7;
    --growth-to: 1;
    margin: auto;
    position: relative;
    z-index: 1;
    animation: growth linear 0.1s;
}
/*resgistration-form*/
.auth-form{
    width: 500px;
    background-color: white;
    border-radius: 5px;
    overflow: hidden;
}

.auth-form__container{
    padding: 0 32px;
}
.auth-form__header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 12px;
    margin-top: 10px;
}

.auth-form__heading{
    font-size: 2.2rem;
    font-weight: 400;
    color: var(--text-color);
}
h3 {
    display: block;
    font-size: 1.17em;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
}
.auth-form__switch-btn{
    font-size: 1.6rem;
    color: #3a5a98;
    font-weight: 400;
    cursor: pointer;
}

/* .auth-form__form{
    margin-top: 14px;
} */

/* .auth-form__group{

} */

.auth-form__input {
    width: 100%;
    margin-top: 16px;
    height: 40px;
    padding: 0 12px;
    font-size: 1.4rem;
    border: 1px solid #dbdbdb;
    border-radius: 5px;
    outline: none;
}
.auth-form__aside{
    margin-top: 18px;
}

.auth-form__policy-text{
    font-size: 1.2rem;
    line-height: 1.8rem;
    text-align: center;
    padding: 0 12px;
}

.auth-form__text-link{
    color: #3a5a98;
    text-decoration: none;
    cursor: pointer;
}
.auth-form__controls{
    display: flex;
    justify-content: flex-end;
    margin-top: 25px;
}

.auth-form__socials{
    background-color: #dedbdb;
    padding: 16px 36px;
    display: flex;
    justify-content: space-between;
    margin-top: 26px;
}

.btn.btn--size-s {
    height: 30px;
    font-size: 12px;
    padding: 0 8px;
}

.btn {
    min-width: 124px;
    height: 34px;
    text-decoration: none;
    border: none;
    border-radius: 2px;
    font-size: 1.5rem;
    padding: 0 12px;
    cursor: pointer;
    color: var(--text-color);
    display: inline-flex;
    justify-content: center;
    align-items: center;
    line-height: 1.6rem;
    background-color: var(--white-color);
}
.auth-form__controls-back {
    margin-right: 8px;
}
.btn.btn--primary {
    color: white;
    background-color: #3a5a98;
}
.btn.btn--size-s {
    height: 32px;
    font-size: 12px;
    padding: 0 8px;
}
.auth-form__socials-facebook {
    color: var(--white-color);
    background-color: #3a5a98;
}
.auth-form__socials-title {
    margin: 0 32px;
}
.auth-form__socials-google {
    background-color: var(--white-color);
}
.btn.btn--normal:hover {
    background-color: rgba(0, 0, 0, 0.1);
}
.auth-form__help {
    display: flex;
    justify-content: flex-end;
}
.auth-form__help-forgot {
    color: #3a5a98;
}
.auth-form__help-link {
    font-size: 1.4rem;
    text-decoration: none;
}
.auth-form__help-separate {
    display: block;
    height: 22px;
    margin: 1px 16px 0;
    border-left: 1px solid #3a5a98;
}
.gender, .date, .date>input {
    font-size: 15px;
    margin-top: 15px;
    color: gray;
}
.gender_text, .date_text{
    margin-right: 80px;
}
.gender_text_in, .date_text_in{
    margin-right: 25px;
}
.header__navbar-item{
    display: flex;
    align-items: center;
}
.header__navbar-user-img {
    width: 22px;
    height: 22px;
    border-radius: 22px;
    border: 1px solid rgba(0, 0, 0, 0.1);
}
.header__navbar-user-name {
    font-size: 1.4rem;
    margin-left: 4px;
    font-weight: 400;
}
.header__navbar-user-menu {
    display: none;
    position: absolute;
    padding-left: 0;
    top: calc(100% + 6px);
    right: 0;
    border-radius: 2px;
    background-color: var(--white-color);
    width: 160px;
    list-style: none;
    z-index: 1;
    box-shadow: 0 0 3px rgb(180 180 180);
}
.header__navbar-user-item--separate {
    border-top: 1px solid rgba(0, 0, 0, 0.3);
}

.header__navbar-user-menu:after {
    content: '';
    display: block;
    position: absolute;
    top: -8px;
    right: 0;
    width: 56%;
    height: 8px;

}

.header__navbar-user:hover .header__navbar-user-menu {
    display: block;
}

.header__navbar-user-menu:before {
    content: "";
    border-width: 20px 27px;
    border-style: solid;
    border-color: transparent transparent var(--white-color) transparent;
    position: absolute;
    right: 4px;
    top: -29px;
}


.header__navbar-user-menu a {
    text-decoration: none;
    color: var(--text-color);
    font-size: 1.4rem;
    display: block;
    padding: 8px 16px;
}

.header__navbar-user-menu a:first-child {
    border-top-left-radius: 2px;
    border-top-right-radius: 2px;
}

.header__navbar-user-menu a:last-child {
    border-bottom-left-radius: 2px;
    border-bottom-right-radius: 2px;
}

.header__navbar-user-menu a:hover {
    background-color: #fafafa;
}
.header__navbar-item-link,
.header__navbar-item {
    display: inline-block;
    font-size: 1.3rem;
    color: var(--white-color);
    text-decoration: none;
    font-weight: 300;
}

.header__navbar-item--has-qr:hover .header__qr {
    z-index: 1;
    display: block;
}

.header__navbar-item-link:hover,
.header__navbar-item:hover,
.header__navbar-icon-link:hover {
    color: rgba(255, 255, 255, 0.7);
    cursor: pointer;
}

.header__navbar-item-link,
.header__navbar-item,
.header__navbar-icon-link {
    display: flex;
    align-items: center;
}
#error_name, #error_gender,#error_phone,#error_date,#error_email,#error_psw,#re_psw,#error_address{
color: red;
}