@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP&display=swap');
* {box-sizing: border-box}
body{
  font-family: 'Roboto', sans-serif;
  background-color: #f5f5f5;
}
h1, label{
  color: DodgerBlue;
}
/* Full-width input fields */
  input[type=text], input[type=password], textarea {
  width: 100%;
  padding: 15px;
  margin: 5px 0 22px 0;
  display: inline-block;
  border: none;
  resize: vertical;
  padding:15px;
  border-radius:15px;
  border:0;
  box-shadow:4px 4px 10px rgba(0,0,0,0.2);
}

input[type=text]:focus, input[type=password]:focus {
  outline: none;
}

hr {
  border: 1px solid #f1f1f1;
  margin-bottom: 25px;
}

/* Set a style for all buttons */
button {
  font-size: 20px;
  background-color: #263aac;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
  opacity: 0.9;
}

button:hover {
  opacity:1;
}

/* Extra styles for the cancel button */
.cancelbtn {
  padding: 14px 20px;
  background-color: #f44336;
}

/* Float cancel and signup buttons and add an equal width */
.signupbtn {
  float: left;
  width: 100%;
  border-radius:15px;
  border:0;
  box-shadow:4px 4px 10px rgba(0,0,0,0.2);
}

/* Add padding to container elements */
.container {
  padding: 16px;
  width: 35%;
  height: 50%;
  margin: auto;
}

/* Clear floats */
.clearfix::after {
  content: "";
  clear: both;
  display: table;
}
#sex{
    font-weight: bold;
    color : DodgerBlue;
    position: relative;
    font-size: 16px;
}
#sex >.ti-help-alt{
    width: 8px;
    height: 8px;
}
#sex >.sex-radio{
    color: rgb(103, 98, 98);
    float: left;
    width: 100px;
    height: 30px;
    font-size: 14px;
    background-color: white;
    border: 2px solid #aec3dc;
    border-radius: 10px;
    text-align: center;
    line-height: 30px;
    margin: 14px 10px -6px 125px;
}
#error_name,#error_sex,#error_address,#error_hobby,#error_email,#error_psw,#dissimilarity{
    font-size: 13px;
    color: #f44336;
}
#hd{
    font-style: italic;
    font-family: 'Times New Roman';
}