* {
    margin: 0%;
    padding: 0%;
}

#sun {
    width: 100%;
    background-color: #f7f7f7;
}

#flame {
    height: 180px;
    width: 100%;
    margin: auto;
    border-radius: 15px;
    /* border: 1px solid black;*/
    display: flex;
    margin-top: 30px;
    background-color: white;

}

#water {
    width: 50%;
    height: 170px;
    /*  border: 1px solid black;*/
    border-right: 0.5px solid rgb(207, 203, 203);
    display: flex;
}

#water1 {
    width: 100px;
    height: 130px;
    /* border: 1px solid black;*/
    margin-left: 11px;
    margin-top: 15px;

}

#water1img {
    width: 100px;
    height: 130px;
    object-fit: contain;
}

#water2 {
    width: 80%;
    height: 130px;
    /*border: 1px solid black;*/
    margin-left: 10px;
    margin-top: 15px;
}

#water2p {
    color: #999;
    margin-top: 15px;
    font-size: 15px;
    margin-left: 10px;
    font-family: sans-serif;

}

#water2p2 {
    color: #555;
    margin-left: 10px;
    margin-top: 6px;
    font-family: sans-serif;
    font-size: 15px;
}

#beast {
    width: 30%;
    height: 170px;
    /* border: 1px solid black;*/
    margin-left: 5px;
}

#beast1 {
    height: 38px;
    /* border: 1px solid black;*/
    margin-left: 15px;
    margin-top: 30px;
    display: flex;
}

#beast1sub1 {
    width: 90%;
    height: 100%;
    font-size: 15px;
    /* border: 1px solid black;*/
}

#beast1sub1>p {
    color: rgb(19, 18, 18);

}
#beast2 {
    height: 50px;
    width: 90%;
    /* border: 1px solid black;*/
    margin-left: 15px;
    display: flex;
}

#beast2sub1>p {
    color: rgb(14, 13, 13);
    font-size: 20px;
}


#beast3 {
    height: 50px;
    width: 200px;
    /*border: 1px solid #000000;*/
    margin-left: 15px;

}

#beast3>p {
    color: rgb(24, 23, 23);
    font-size: 15px;
    font-family: sans-serif;
}

#thunder {
    width: 20%;
    height: 170px;
    /* border: 1px solid black;*/
    display: flex;
}

#thunderbtn1 {
    margin: auto;
    color: rgb(29, 46, 173);
}
#thunderbtn1:hover{
    color: rgb(240, 23, 23);
}
.pagination {
    width: 540px;
    margin: auto;
  }
  
  .pagination-item {
    border-radius: 2px;
    overflow: hidden;
  }
  
  .pagination-item a {
    font-size: 1.6rem;
    color: #939393;
    text-align: center;
    padding: 0.4em 1.2em;
    display: block;
  }
  
  .pagination-item--active a {
    background-color: #d0011b;
    color: var(--white-color);
  }
  
  .pagination-item--active a:hover {
    background-color: #e00622;
  }
  
  .pagination-item:first-child a,
  .pagination-item:last-child a {
    font-size: 1.4rem;
  }
 
  .fl-between {
    display: flex;
    justify-content: space-between;
}
a {
    text-decoration: none;
    margin: 0;
}